.btn{
    width: 10rem;
    height: 3rem;
    margin-top:5rem;
    border: 2px solid #aaa;
    background: #ccc;
    outline: none;
    transition: all .4s;
    font-weight: bold;
    font-family: cursive;
}

.btn:hover{
    background: slateblue;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 20px 20px #ccc;
    font-weight: 300;
}

.container{
    display: flex;
    border: 2px solid #bbb;
    margin-top: 5rem;
    box-shadow: 10px 20px 20px #bbb;
    width: 40rem;
    height: 20rem;
    justify-content: center;
}
